service.pid="org.oiue.service.template.beetl.Activator"
ENGINE="org.beetl.core.engine.FastRuntimeEngine"
DELIMITER_PLACEHOLDER_START="${"
DELIMITER_PLACEHOLDER_END="}"
DELIMITER_STATEMENT_START="<%"
DELIMITER_STATEMENT_END="%>"
DIRECT_BYTE_OUTPUT = "FALSE"
HTML_TAG_SUPPORT = "true"
HTML_TAG_FLAG = "#"
HTML_TAG_BINDING_ATTRIBUTE = "var"
NATIVE_CALL = "TRUE"
TEMPLATE_CHARSET = "UTF-8"
ERROR_HANDLER = "org.beetl.core.ConsoleErrorHandler"
NATIVE_SECUARTY_MANAGER= "org.beetl.core.DefaultNativeSecurityManager"
MVC_STRICT = "FALSE"

RESOURCE.root="/work/project"