action.msg="[{\"key\":\"Detail:\ Key\ (login_name)\",\"status\":-150,\"msg\":\"用户名已存在\"},{\"key\":\"duplicate\ key\ value\ violates\ unique\ constraint\",\r\n\"status\":-180,\"msg\":\"重复的数据\"},{\"key\":\"No\ space\ left\ on\ device\",\"status\":-190,\"msg\":\"服务器内部错误，请联系管理员！\"},{\"key\":\"is\ of\ \r\ntype\",\"status\":-185,\"msg\":\"数据类型不匹配，请联系管理员！\"}]"
service.pid="org.oiue.service.action.base.Activator"
