service.pid="org.oiue.service.driver.listener.storage.Activator"
storage.hbe_convert_traffic.updateTarget="e8d7a7b7-6cda-4617-a0a8-3e74252ca1a1,postgis"
storage.hbe_convert_traffic.updateLine="9399011e-898f-437f-b962-ac3a9383e280,postgis"
storage.HwWifiConvert.update="2239edc6-bd10-4247-b1af-29074d1bd08e,postgis"
storage.hb_dsrc_head.dsrc="994f09e0-e71e-4df3-9b64-5f5c2ad86ef4,oracle"
storage.hwVD_huabei.vd="b715610f-ef8f-4acf-b169-b90a916ff774,oracle"