chat_execute="fm_system_query_screen,chat_add_friend,chat_create_group,chat_del_friend,chat_del_user_in_group,chat_dissolve_group,chat_invite_friend,chat_invite_group,chat_join_group,chat_query_user,chat_query_friends,chat_query_group,chat_query_message,chat_query_owner_group,chat_query_unread_message,chat_quit_group,chat_read_message,chat_select_unread_message,chat_query_group_user,chat_query_unread_message_count,chat_update_user_name,chat_update_friend_name"
service.pid="org.oiue.service.action.filter.auth.Activator"
unFilter_modulename="message_news,message,chat_execute"
