org.apache.felix.webconsole.internal.servlet.OsgiManager="file:/work/github/main/bundle/org.apache.felix.webconsole-4.3.4.jar"
org.oiue.service.action.filter.auth.Activator="file:/work/github/main/bundle/org.oiue.service.action.filter.auth-1.0.1.jar"
org.oiue.service.action.filter.module2domain.Activator="file:/work/github/main/bundle/org.oiue.service.action.filter.module2domain-1.0.1.jar"
org.oiue.service.action.http.action.Activator="file:/work/github/main/bundle/org.oiue.service.action.http.action-1.0.1.jar"
org.oiue.service.action.http.filter.auth.Activator="file:/work/github/main/bundle/org.oiue.service.action.http.filter.auth-1.0.1.jar"
org.oiue.service.action.http.resource.Activator="file:/work/github/main/bundle/org.oiue.service.action.http.resource-1.0.1.jar"
org.oiue.service.action.http.services.Activator="file:/work/github/main/bundle/org.oiue.service.action.http.services-1.0.1.jar"
org.oiue.service.action.http.upload.Activator="file:/work/github/main/bundle/org.oiue.service.action.http.upload-1.0.1.jar"
org.oiue.service.action.tcp.action.Activator="file:/work/github/main/bundle/org.oiue.service.action.tcp.action-1.0.1.jar"
org.oiue.service.action.tcp.bytes.Activator="file:/work/github/main/bundle/org.oiue.service.action.tcp.bytes-1.0.1.jar"
org.oiue.service.auth.local.Activator="file:/work/github/main/bundle/org.oiue.service.auth.local-1.0.1.jar"
org.oiue.service.buffer.synchronization.db.Activator="file:/work/github/main/bundle/org.oiue.service.buffer.synchronization.db-1.0.1.jar"
org.oiue.service.cache.impl.Activator="file:/work/github/main/bundle/org.oiue.service.cache.impl-1.0.1.jar"
org.oiue.service.cache.jedis.Activator="file:/work/github/main/bundle/org.oiue.service.cache.jedis-1.0.1.jar"
org.oiue.service.cache.tree.zookeeper.curator.Activator="file:/work/github/main/bundle/org.oiue.service.cache.tree.zookeeper.curator-1.0.1.jar"
org.oiue.service.debug.cache.Activator="file:/work/github/main/bundle/org.oiue.service.debug.cache-1.0.1.jar"
org.oiue.service.debug.httpclient.Activator="file:/work/github/main/bundle/org.oiue.service.debug.httpclient-1.0.1.jar"
org.oiue.service.debug.insertmodule.Activator="file:/work/github/main/bundle/org.oiue.service.debug.insertmodule-1.0.1.jar"
org.oiue.service.debug.res.Activator="file:/work/github/main/bundle/org.oiue.service.debug.res-1.0.1.jar"
org.oiue.service.debug.treecache.Activator="file:/work/github/main/bundle/org.oiue.service.debug.treecache-1.0.1.jar"
org.oiue.service.driver.listener.storage.Activator="file:/work/github/main/bundle/org.oiue.service.driver.listener.storage-1.0.1.jar"
org.oiue.service.log4j.Activator="file:/work/github/main/bundle/org.oiue.service.log4j-1.0.1.jar"
org.oiue.service.message.impl.Activator="file:/work/github/main/bundle/org.oiue.service.message.impl-1.0.1.jar"
org.oiue.service.odp.res.base.Activator="file:/work/github/main/bundle/org.oiue.service.odp.res.base-1.0.1.jar"
org.oiue.service.online.impl.Activator="file:/work/github/main/bundle/org.oiue.service.online.impl-1.0.1.jar"
org.oiue.service.osgi.rpc.Activator="file:/work/github/main/bundle/org.oiue.service.osgi.rpc-1.0.1.jar"
org.oiue.service.permission.impl.Activator="file:/work/github/main/bundle/org.oiue.service.permission.impl-1.0.1.jar"
org.oiue.service.permission.verify.Activator="file:/work/github/main/bundle/org.oiue.service.permission.verify-1.0.1.jar"
org.oiue.service.sql.apache.Activator="file:/work/github/main/bundle/org.oiue.service.sql.apache-1.0.1.jar"
org.oiue.service.system.analyzer.impl.Activator="file:/work/github/main/bundle/org.oiue.service.system.analyzer.impl-1.0.1.jar"
