com.lingtu.service.odp.res.event.filter.fix.sequence.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/com.lingtu.service.odp.res.event.filter.fix.sequence-1.1.0-SNAPSHOT.jar"
org.apache.felix.webconsole.internal.servlet.OsgiManager="file:/Users/every/eclipse-workspace/github/main/bundle/org.apache.felix.webconsole-4.3.5.jar"
org.oiue.service.action.base.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.action.base-1.1.0-SNAPSHOT.jar"
org.oiue.service.action.filter.auth.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.action.filter.auth-1.1.0-SNAPSHOT.jar"
org.oiue.service.action.http.services.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.action.http.services-1.1.0-SNAPSHOT.jar"
org.oiue.service.action.http.upload.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.action.http.upload-1.1.0-SNAPSHOT.jar"
org.oiue.service.action.tcp.action.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.action.tcp.action-1.1.0-SNAPSHOT.jar"
org.oiue.service.auth.local.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.auth.local-1.1.0-SNAPSHOT.jar"
org.oiue.service.cache.impl.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.cache.impl-1.1.0-SNAPSHOT.jar"
org.oiue.service.cache.jedis.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.cache.jedis-1.1.0-SNAPSHOT.jar"
org.oiue.service.cache.synchronization.db.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.cache.synchronization.db-1.1.0-SNAPSHOT.jar"
org.oiue.service.cache.tree.zookeeper.curator.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.cache.tree.zookeeper.curator-1.1.0-SNAPSHOT.jar"
org.oiue.service.debug.cache.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.debug.cache-1.1.0-SNAPSHOT.jar"
org.oiue.service.event.etl.impl.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.event.etl.impl-1.1.0-SNAPSHOT.jar"
org.oiue.service.log4j.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.log4j-1.1.0-SNAPSHOT.jar"
org.oiue.service.odp.res.base.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.odp.res.base-1.1.0-SNAPSHOT.jar"
org.oiue.service.odp.structure.base.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.odp.structure.base-1.1.0-SNAPSHOT.jar"
org.oiue.service.online.impl.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.online.impl-1.1.0-SNAPSHOT.jar"
org.oiue.service.osgi.rpc.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.osgi.rpc-1.1.0-SNAPSHOT.jar"
org.oiue.service.permission.impl.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.permission.impl-1.1.0-SNAPSHOT.jar"
org.oiue.service.permission.verify.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.permission.verify-1.1.0-SNAPSHOT.jar"
org.oiue.service.sql.apache.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.sql.apache-1.1.0-SNAPSHOT.jar"
org.oiue.service.system.analyzer.impl.Activator="file:/Users/every/eclipse-workspace/github/main/bundle/org.oiue.service.system.analyzer.impl-1.1.0-SNAPSHOT.jar"
