Referer=""
service.pid="org.oiue.service.action.http.services.Activator"
timeout="50000"
upload.moduleName="wash_coal_factory_query,"
upload.rootpath.album_manager="/data/uploadfile/"
upload.rootpath.audio_manager="/data/uploadfile/"
upload.rootpath.class_manager="/data/uploadfile/"
upload.rootpath.coal_fields_query="uploadfile/coal_fields_query/${userid}/"
upload.rootpath.coal_informations_query="uploadfile/coal_informations_query/${userid}/"
upload.rootpath.coal_mine_query="uploadfile/coal_mine_query/${userid}/"
upload.rootpath.coal_pipe_station_query="uploadfile/coal_pipe_station_query/${userid}/"
upload.rootpath.diatom_query="uploadfile/diatom_query/${userid}/"
upload.rootpath.entrance_coals_query="uploadfile/entrance_coals_query/${userid}/"
upload.rootpath.forwarding_station_query="uploadfile/forwarding_station_query/${userid}/"
upload.rootpath.harbors_query="uploadfile/harbors_query/${userid}/"
upload.rootpath.media_manager="/data/uploadfile/"
upload.rootpath.mining_area_query="uploadfile/mining_area_query/${userid}/"
upload.rootpath.port_query="uploadfile/port_query/${userid}/"
upload.rootpath.power_factory_query="uploadfile/power_factory_query/${userid}/"
upload.rootpath.shipments_quantity_query="uploadfile/shipments_quantity_query/${userid}/"
upload.rootpath.stations_query="uploadfile/stations_query/${userid}/"
upload.rootpath.wash_coal_factory_query="uploadfile/wash_coal_factory_query/${userid}/"
