service.pid="org.oiue.service.message.impl.Activator"
message.maxMessage="100"
message.invite="token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1|[source],leliao_head,-1"
message.refuse_invite="token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1|[source],leliao_head,-1"
message.join_group="gender,int,1|token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1|[source],leliao_head,-1"
message.out_group="gender,int,1|token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1|[source],leliao_head,-1"
message.delete_group="group_token,String,36|group_info,String,-1|[source],leliao_head,-1"
message.send_message="gender,int,1|token,String,36|group_type,int,1|group_token,String,36|send_time,int,4|msg_type,int,1|msg_size,int,2|msg,byte,gmsg_size|[source],leliao_head,-1"
message.send_location="gender,int,1|token,String,36|group_type,int,1|group_token,String,36|send_time,int,4|location_info,String,-1|[source],leliao_head,-1"
