Referer=""
service.pid="org.oiue.service.action.http.upload.Activator"
upload.rootpath.album_manager="/data/uploadfile/"
upload.rootpath.audio_manager="/data/uploadfile/"
upload.rootpath.class_manager="/workspace/uploadfile/"
upload.rootpath.camera="/data/uploadfile/camera/"
upload.rootpath.null="uploadfile/"
upload.rootpath.etl="/workspace/uploadfile/etl"
upload.rootpath.forwarding_station_query="uploadfile/forwarding_station_query/${userid}/"
upload.rootpath.harbors_query="uploadfile/harbors_query/${userid}/"
upload.rootpath.media_manager="/data/uploadfile/"
upload.rootpath.mining_area_query="uploadfile/mining_area_query/${userid}/"
upload.rootpath.port_query="uploadfile/port_query/${userid}/"
upload.rootpath.power_factory_query="uploadfile/power_factory_query/${userid}/"
upload.rootpath.shipments_quantity_query="uploadfile/shipments_quantity_query/${userid}/"
upload.rootpath.stations_query="uploadfile/stations_query/${userid}/"
upload.rootpath.wash_coal_factory_query="uploadfile/wash_coal_factory_query/${userid}/"
upload.rootpath.file="uploadfile/mini_program/${mini_program_id}/"
