service.pid="org.oiue.service.wechat.menus.Activator"
Referer=""
menus="{\"button\":[{\"name\":\"品质生活\",\"sub_button\":[{\"type\":\"view\",\"name\":\"历史推文\",\"url\":\"http://www.massplat.com/history.html\"},{\"type\":\"view\",\"name\":\"养生菜谱\",\"url\":\"http://www.massplat.com/recipe.html\"},{\"type\":\"view\",\"name\":\"健康食疗\",\"url\":\"http://www.massplat.com/tyerapy.html\"},{\"type\":\"view\",\"name\":\"生活周边\",\"url\":\"http://www.massplat.com/live.html\"}]},{\"type\":\"view\",\"name\":\"圣历商城\",\"url\":\"http://mall.massplat.com\"},{\"name\":\"圣历科技\",\"sub_button\":[{\"type\":\"view\",\"name\":\"关于圣历\",\"url\":\"http://www.massplat.com/index.html\"},{\"type\":\"view\",\"name\":\"合作交流\",\"url\":\"http://mp.weixin.qq.com/s/aU2AxCPL9zAV-MpVpA-rkg\"},{\"type\":\"view\",\"name\":\"搜索\",\"url\":\"http://www.massplat.com/search.html\"}]}]}"
tokenKey="access_token"
appId="wx163553ab899e632d"
appSecret="9df3605ecce11c0172c79ad6081aee7a"