log4j.appender.Console="org.apache.log4j.ConsoleAppender"
log4j.appender.Console.layout="org.apache.log4j.PatternLayout"
log4j.appender.Console.layout.conversionPattern="%d\ [%c](%L)-[%p]\ %m%n"

log4j.appender.Rl="org.apache.log4j.DailyRollingFileAppender"
log4j.appender.Rl.DatePattern="'.'yyyy-MM-dd-HH"
log4j.appender.Rl.File="logs/axiom.log"
log4j.appender.Rl.MaxBackupIndex="10"
log4j.appender.Rl.layout="org.apache.log4j.PatternLayout"
log4j.appender.Rl.layout.ConversionPattern="%-d{yyyy-MM-dd\ HH:mm:ss,SSS}-[%p]\ [%F(%L)]\ %m%n"

log4j.appender.locus="org.apache.log4j.DailyRollingFileAppender"
log4j.appender.locus.DatePattern="'.'yyyy-MM-dd-HH"
log4j.appender.locus.File="locus/axiom.log"
log4j.appender.locus.MaxBackupIndex="10"
log4j.appender.locus.layout="org.apache.log4j.PatternLayout"
log4j.appender.locus.layout.ConversionPattern="%-d{yyyy-MM-dd\ HH:mm:ss,SSS}-[%p]\ [%F(%L)]\ %m%n"

log4j.logger.org.quartz="error"
log4j.logger.org.apache.zookeeper="error"
log4j.logger.org.oiue.service.buffer="error"
log4j.logger.org.oiue.service.odp="error"
log4j.logger.org.oiue.service.odp.event.sql.structure.impl="debug"
log4j.logger.org.oiue.service.sql.apache="error"
log4j.logger.org.oiue.service.task.quartz="error"
log4j.logger.org.oiue.service.online.impl="error"
log4j.logger.org.oiue.service.cache.buffer="error"
log4j.logger.com.lingtu.service.odp.res.event.receivefilter="error"
log4j.logger.com.lingtu.service.driver.listener.map.reference.storage="error"
log4j.logger.com.lingtu.service.driver.listener.map.reference="error"

log4j.rootLogger="debug,Rl,Console"
service.pid="org.oiue.service.log4j.Activator"
