log4j.appender.Console="org.apache.log4j.ConsoleAppender"
log4j.appender.Console.layout="org.apache.log4j.PatternLayout"
log4j.appender.Console.layout.conversionPattern="%d\ [%c](%L)-[%p]\ %m%n"
log4j.appender.Rl="org.apache.log4j.OIUEDailyRollingFileAppender"
log4j.appender.Rl.DatePattern="'.'yyyy-MM-dd-HH-mm"
log4j.appender.Rl.File="./logs/oiue/oiue.log"
log4j.appender.Rl.MaxBackupIndex="3"
log4j.appender.Rl.layout="org.apache.log4j.PatternLayout"
log4j.appender.Rl.layout.ConversionPattern="%-d{yyyy-MM-dd\ HH:mm:ss,SSS}-[%p]\ [%F(%L)]\ %m%n"
log4j.logger.com.lingtu.service.odp.res.event.filter.fix.sequence="error"
log4j.logger.com.lingtu.service.odp.res.event.receivefilter="error"
log4j.logger.org.apache.zookeeper="error"
log4j.logger.org.oiue.service.buffer="error"
log4j.logger.org.oiue.service.cache.buffer="error"
log4j.logger.org.oiue.service.action.http.services="error"
log4j.logger.org.oiue.service.odp="error"
log4j.logger.org.oiue.service.odp.res.event.resultfilter="error"
log4j.logger.org.oiue.service.cache.synchronization.db="error"
log4j.logger.org.oiue.service.online.impl="error"
log4j.logger.org.oiue.service.sql.apache="error"
log4j.logger.org.oiue.service.task.quartz="error"
log4j.logger.org.quartz="error"
log4j.rootLogger="debug,Console"
service.pid="org.oiue.service.log4j.Activator"
