log4j.appender.Console="org.apache.log4j.ConsoleAppender"
log4j.appender.Console.layout="org.apache.log4j.PatternLayout"
log4j.appender.Console.layout.conversionPattern="%d\ [%c]-[%p]\ %m%n"
log4j.appender.Rl="org.apache.log4j.DailyRollingFileAppender"
log4j.appender.Rl.DatePattern="'.'yyyy-MM-dd-HH"
log4j.appender.Rl.File="logs/axiom.log"
log4j.appender.Rl.MaxBackupIndex="10"
log4j.appender.Rl.layout="org.apache.log4j.PatternLayout"
log4j.appender.Rl.layout.ConversionPattern="%-d{yyyy-MM-dd\ HH:mm:ss,SSS}\ [%c]-[%p]\ %m%n"
log4j.logger.com.leauto.service.leliao.debug.tcpclient="debug"
log4j.logger.com.leauto.service.leliao.group.impl="debug"
log4j.logger.org.apache.mina.filter.codec="error"
log4j.logger.org.apache.zookeeper="error"
log4j.logger.org.oiue.service.action.base="info"
log4j.logger.org.oiue.service.action.http="error"
log4j.logger.org.oiue.service.action.http.managed="debug"
log4j.logger.org.oiue.service.action.tcp.bytes="debug"
log4j.logger.org.oiue.service.bpm.impl="debug"
log4j.logger.org.oiue.service.buffer="error"
log4j.logger.org.oiue.service.driver.base.DriverServiceImpl="error"
log4j.logger.org.oiue.service.odp="error"
log4j.logger.org.oiue.service.online.impl="error"
log4j.logger.org.oiue.service.permission="error"
log4j.logger.org.oiue.service.sql="error"
log4j.logger.org.oiue.service.task.quartz="error"
log4j.logger.org.oiue.service.tcp.mina="error"
log4j.logger.org.oiue.tools.proxy="error"
log4j.logger.org.quartz="error"
log4j.rootLogger="debug,Rl,Console"
service.pid="org.oiue.service.log4j.Activator"
