ds="mysql,postgis"

ds.h2.driverClassName="org.h2.Driver"
ds.h2.maxActive="100"
ds.h2.maxIdle="30"
ds.h2.maxWait="1000"
ds.h2.password=""
ds.h2.url=""
ds.h2.username=""
ds.h2.validationQuery="select\ 2\ from\ dual"

ds.main.driverClassName="oracle.jdbc.driver.OracleDriver"
ds.main.maxActive="10"
ds.main.maxIdle="10"
ds.main.minIdle="0"
ds.main.maxWait="1000"
ds.main.password=""
ds.main.url=""
ds.main.username="mcc"
ds.main.validationQuery="select\ 2\ from\ dual"

ds.mysql.driverClassName="com.mysql.jdbc.Driver"
ds.mysql.maxActive="30"
ds.mysql.maxIdle="10"
ds.mysql.minIdle="0"
ds.mysql.maxWait="30000"
ds.mysql.password=""
ds.mysql.url=""
ds.mysql.username=""
ds.mysql.validationQuery="select\ uuid()"

ds.postgis.driverClassName="org.postgresql.Driver"
ds.postgis.maxActive="100"
ds.postgis.maxIdle="30"
ds.postgis.maxWait="1000"
ds.postgis.password=""
ds.postgis.url=""
ds.postgis.username=""
ds.postgis.validationQuery="select\ current_timestamp"
service.pid="org.oiue.service.sql.apache.Activator"
