ds="postgis,postpoi"

ds.h2.driverClassName="org.h2.Driver"
ds.h2.maxActive="100"
ds.h2.maxIdle="30"
ds.h2.maxWait="1000"
ds.h2.password=""
ds.h2.url=""
ds.h2.username=""
ds.h2.validationQuery="select\ 2\ from\ dual"

ds.main.driverClassName="oracle.jdbc.driver.OracleDriver"
ds.main.maxActive="10"
ds.main.maxIdle="10"
ds.main.minIdle="0"
ds.main.maxWait="1000"
ds.main.password=""
ds.main.url=""
ds.main.username="mcc"
ds.main.validationQuery="select\ 2\ from\ dual"

ds.mysql.driverClassName="com.mysql.jdbc.Driver"
ds.mysql.maxActive="30"
ds.mysql.maxIdle="10"
ds.mysql.minIdle="0"
ds.mysql.maxWait="30000"
ds.mysql.password="mysql"
ds.mysql.url="jdbc:mysql://10.211.55.7:3306/massplat?characterEncoding\=utf8&useUnicode\=true&retainStatementAfterResultSetClose\=true"
ds.mysql.username="root"
ds.mysql.validationQuery="select\ uuid()"

ds.postgis.driverClassName="org.postgresql.Driver"
ds.postgis.maxActive="5"
ds.postgis.maxIdle="5"
ds.postgis.maxWait="1000"
ds.postgis.password="123456"
ds.postgis.url="jdbc:postgresql://172.17.60.20:5432/ltmap?charset\=utf-8"
ds.postgis.username="postgres"
ds.postgis.validationQuery="select\ current_timestamp"

ds.postpoi.driverClassName="org.postgresql.Driver"
ds.postpoi.maxActive="5"
ds.postpoi.maxIdle="5"
ds.postpoi.maxWait="1000"
ds.postpoi.password="123456"
ds.postpoi.url="jdbc:postgresql://172.17.60.20:5432/poi?charset\=utf-8"
ds.postpoi.username="postgres"
ds.postpoi.validationQuery="select\ current_timestamp"

ds.road.driverClassName="org.postgresql.Driver"
ds.road.maxActive="100"
ds.road.maxIdle="30"
ds.road.maxWait="1000"
ds.road.password="123456"
ds.road.url="jdbc:postgresql://172.17.60.20:5432/vp_segment?charset\=utf-8"
ds.road.username="postgres"
ds.road.validationQuery="select\ current_timestamp"

ds.postgiss.driverClassName="org.postgresql.Driver"
ds.postgiss.maxActive="100"
ds.postgiss.maxIdle="30"
ds.postgiss.maxWait="1000"
ds.postgiss.password="123456"
ds.postgiss.url="jdbc:postgresql://10.211.55.7:5432/postgis?charset\=utf-8"
ds.postgiss.username="postgres"
ds.postgiss.validationQuery="select\ current_timestamp"
service.pid="org.oiue.service.sql.apache.Activator"