service.pid="org.oiue.service.action.tcp.bytes.Activator"
idleTime="90000"
anonymousCount="3"
listenPort="8070"
listenAddress="0.0.0.0"
charset="UTF-8"
sessions_key="_system_online_"
msg.universal.answer="command_serial,int,2|command_id,int,2|status,int,1"
msg.universal.reply="command_serial,int,2|command_id,int,2|status,int,1|return_info,String,-1"
msg.universal.head="command_id,int,2|command_property,byte,1|command_length,int,2|command_serial,int,2|package_data,byte,gcommand_length"

msg.type.1="rsp_info,int,2|rsp_id,int,2|status,int,1"

msg.type.2="tag,String,-1"
msg.modulename.2="systime"
msg.operation.2="systime"

msg.type.256="token_id,String,36|tag,String,-1"
msg.modulename.256="message_module"
msg.operation.256="passageway"

msg.type.513="target_type,int,1|target_id,String,36|send_time,int,4|msg_type,int,1|msg_size,int,2|msg,byte,gmsg_size"
msg.modulename.513="chat_group"
msg.operation.513="send_msg"

msg.type.33793="target_token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1"
msg.modulename.33793="message_module"
msg.operation.33793="send_msg"

msg.type.5121="target_id,String,36|status,int,1"
msg.modulename.5121="chat_group"
msg.operation.5121="join_group"

msg.type.33794="group_token,String,36|group_info,String,-1"
msg.modulename.33794="message_module"
msg.operation.33794="send_msg"

msg.type.33537="target_type,int,1|target_token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1"
msg.modulename.33537="message_module"
msg.operation.33537="send_msg"

msg.type.33538="target_type,int,1|target_token,String,36|group_type,int,1|group_token,String,36|group_info,String,-1"
msg.modulename.33538="message_module"
msg.operation.33538="send_msg"

msg.type.33281="target_type,int,1|target_token,String,36|group_type,int,1|group_token,String,36|send_time,int,4|msg_type,int,1|msg_size,int,2|msg,byte,gmsg_size"
msg.modulename.33281="chat_group"
msg.operation.33281="send_msg"